@charset "UTF-8";

body {
    background-color: rgb(161, 222, 161);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
}

h1#principal {
    text-align: center;
}

h2 {
    color: blue;
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;

}
