@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    background-color: lightgray;

}

header {
    background-color: gray;
}

header h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(63, 63, 63);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(105, 105, 105);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

nav a:hover {
    background-color: rgb(154, 153, 153);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 30px;
}