@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(202, 202, 202);
}

header {
    background-color: rgb(173, 173, 173);
}

header h1 {
    text-align: center;
    padding: 10px;
}

.opcao-menu {
    display: none;
}

menu {
    padding-top: 30px;
}

menu li {
    display: inline-block;
    background-color: gray;
    padding: 5px;
    border-top: 2px solid black;
}

main {
    background-color: white;
    max-width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    header h1 {
        padding: -10px;
    }
    .opcao-menu {
        display: block;
        text-align: center;
    }
    menu li {
        display: block;
    }
    
}