@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063dle*/


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.416);
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.416);

}

nav {
    background-color: var(--cor05);
    padding: 10px;
}

nav > a {
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    padding: 10px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    background: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 6px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    background-color: var(--cor01);
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    transition-duration: 0.5;
}


main a:hover {
    text-decoration: underline;
    padding: 4px;
    color: var(--cor04);
}


div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%s;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}

aside > h3 {
    background-color: var(--cor04);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
}

