@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.578);
    flex: 0 0 200px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 10px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

nav a {
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-out, color 0.3s ease;
    
    
}

nav a:hover {
    background-color: white;
    color: black;
}


@media screen and (max-width: 616px) and (max-width: 530px) {
    header h1 {
        margin-bottom: 10px;
        flex-basis: 50px;
    }

    header, nav {
        flex-direction: column;
    }
    nav a {
        width: 90vw;
    }
}

