@charset "UTF-8";

/* Demais versões */

/* Typical Device Breakpoints */

/* como foram feitas as configurações inicias para celular, começamos pelo próxima tela que é o tablet  */


/* impressão */
@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
    }
    img#phone {
        display: none;
    }
    img#print {
        display: block;
    }
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone {
        display: none;
    }
    img#tablet {
        display: block;
    }
}


/* desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {
        display: none;
    }
    img#pc {
        display: block;
    }
}


/* grandes telas */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }


    main {
        width: 700px;
    }

    img#phone {
        display: none;
    }
    img#tv {
        display: block;
    }
}