@charset "UTF-8";

/* Mobile First */
 
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
   background: black url(../imagens/back-phone.jpg) no-repeat center center;
   padding-top: 20px;
   background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.819);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}

img#tablet, img#pc, img#tv, img#print {
    display: none;
}