@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    position: relative;
    height: 100vh;
}

main {
    background-color: rgb(247, 195, 195);
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../imagens/transparent.jpg);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.card {
    background-color: rgb(226, 226, 226);
    padding: 30px;
    border-radius: 10px;
    height: 440px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.408);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h1 {
    text-align: center;
    margin-bottom: 4px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.499);
}

.menu, .fundo, .nivel-satisfacao {
    flex: 1 1 auto;
}

.menu {
    background-color: rgb(193, 193, 193);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

}

.menu > a {
    text-align: center;
    flex: 1 1 auto;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.menu > a:hover {
    background-color: rgb(107, 106, 106);
    color: white;
}

.item {
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: rgb(207, 207, 207);
    margin: 0px 5px;
    border-radius: 5px;
}


#fundo {
    background: url(../imagens/testezz.png);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; /* ajuda a esconder a ponta da imagem se adequando ao border-radius */
}

#fundo img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#trocar-img {
    background-color: rgba(0, 0, 0, 0.318);
    padding: 20px;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#trocar-img > img {
    filter: invert(1);
}

#trocar-img > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}


.nivel-satisfacao { 
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* telas medias */
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .card {
        min-width: 50vw;
    }
    .menu {
        min-width: 50vw;
    }
    #fundo {
        min-width: 50vw;
    }
    #trocar-img {
        min-width: 50vw;
    }
}

/* telas grandes */
@media screen and (min-width: 1200px) {
    .card {
        min-width: 70vw;
    }
    .menu {
        min-width: 70vw;
    }
    #fundo {
        min-width: 70vw;
    }
    #trocar-img {
        min-width: 70vw;
    }
}
