@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
    position: relative;
    height: 100vh;
}

main {
    background-color: rgb(247, 195, 195);
    padding: 40px;
    min-width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    background-color: rgb(226, 226, 226);
    padding: 30px;
    border-radius: 10px;
    height: 440px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.408);
}

.card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    background-color: rgb(193, 193, 193);
    padding: 10px;
    border-radius: 10px;
}

.item {
    text-decoration: none;
    padding: 5px;
    color: red;
    background-color: rgb(207, 207, 207);
    margin: 0px 5px;
    border-radius: 5px;
}

.img {
    background: url(../imagens/testezz.png);
    width: 250px;
    height: 250px;
    margin: 20px 0px;
    border-radius: 10px;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img > p {
    background-color: rgba(0, 0, 0, 0.51);
    color: white;
    padding: 30px;
}

.nivel-satisfacao { 
    display: flex;
    gap: 10px;
}
