@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: lightgray;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

main h2 {
    margin-bottom: 20px;
    padding-top: 10px;
    max-width: 250px;
}


section {
    width: 90vw;
}
img {
    width: 250px;
}

.cont1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.filho {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.filho > p {
    margin: 10px 10px;
    flex: 1 1 250px;
    align-self: flex-end;
}


.filho2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.filho2 > p {
    flex: 1 1 250px;
    margin: 0px 10px;
}


@media screen and (min-width: 500px) {
    img {
        width: 200px;
        margin: auto;
    }
}