

body::after {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Non mollitia eaque qui, facilis sequi veniam deleniti vero maxime, totam animi nesciunt id ratione dolorem error incidunt dignissimos aut possimus odit?';
}