@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #12a6cf;
}

main {
    padding: 20px;
}

.formulario {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 40px 10px 20px 10px;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    position: relative;
}

legend {
   text-align: center;
   font-weight: bold;
   padding: 10px;
   position: absolute;
   top: 0%;
}

div {
    padding: 8px;
}

div input:not(.enviar-curriculo) {
    border-radius: 5px;
}

.form-sexo {
    display: flex;
    gap: 10px;
}

.form-contratacao {
    display: flex;
    gap: 10px;
}

.form-sobre {
    display: flex;
    flex-direction: column;
}

.form-sobre label {
    text-align: center;
}

.sobre-voce {
    border-radius: 0px 7px 0px 7px;
    max-width: 550px;
    width: 100%;
    resize: none; 
    /*impede de aumentar o tamanho da caixa pela ponta */
}

.botoes input{
    padding: 5px;
    margin-left: 10px;
}

@media (max-width:500px) {
    div {
        font-size: 0.8em;
    }

    .form-contratacao {
        font-size: 0.75em;
    }

    .sobre-voce {
        max-width: 250px;
        width: 100%;
    }

    .envio-curriculo input{
        font-size: 0.8em;
    }

    .botoes input{
        font-size: 0.9em;
    }
}

@media (max-width:360px) {
    div {
        font-size: 0.7em;
    }

    div input {
        max-width: 100px;
    }

    .form-contratacao {
        font-size: 0.7em;
    }

    .sobre-voce {
        max-width: 200px;
        width: 100%;
    }
}