@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-titulo: 'Passion One', 'sans-serif';
    --font-padrao: 'Sriracha', 'sans-serif';
}

body {
    font-family: var(--font-padrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-family: var(--font-titulo);
}


main {
    padding: 40px 0px 20px 20px;
}

main p {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.img1 {
    height: 400px;
    padding: 40px 0px 40px 20px;
    margin: 40px 0px 40px -20px;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    position: relative;
}   

.img1 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.126);
    padding: 5px;
    position: absolute;
    top: 15%;
}

.img2 {
    background-image: url(imagens/background002.jpg);
    height: 400px;
    padding: 40px 0px 40px 20px;
    margin: 40px 0px 40px -20px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.img2  > p {
    background-color: rgba(0, 0, 0, 0.126);
    padding: 5px;
    position: absolute;
    top: 15%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
}

.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    text-decoration: underline;
}