@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}